<h1>Burgers</h1>

<h2> not currently on the menu</h2>
<ul>
    {{#each burgers}}
    {{#unless current_menu}}
    <li>{{burger_name}}</li>
    <li>{{burger_description}}</li>
    <li>{{burger_price}}</li>
    {{!-- Needs the edit button to link to an edit page --}}
    <button class="menu-change" data-id="{{burger_id}}" data-newMenu="{{current_menu}}">
        Add to menu
    </button>
    {{/unless}}
    {{/each}}
</ul>

<h2> currently on the menu</h2>

<ul>
    {{#each burgers}}
    {{#if current_menu}}
    <li>{{burger_name}}</li>
    <li>{{burger_description}}</li>
    <li>{{burger_price}}</li>
    <button class="menu-change" data-id="{{burger_id}}" data-newMenu="{{current_menu}}">
        Remove from menu
    </button>
    {{/if}}
    {{/each}}
</ul>